name: ci-golang-workflow

on:
  pull_request:
    branches:
      - develop

jobs:
  check-application:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        os: [ubuntu-latest]
        go: ["1.22", "1.23"]

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}

          cache: false

      - name: Run Go tests
        working-directory: ./go
        run: go test ./...

      - name: Run Go application
        working-directory: ./go
        run: go run math.go
